<div class='panel panel-primary'>
    <div class='panel-heading'>
        <span class='search-panel-heading'>
            Customer Search Panel
        </span>
    </div>

    <div class='panel-body'>
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Search String</label>
                <div class="input-group">
                    <div class="input-group-addon">Customer Name:</div>
                    <input type="text"
                        [(ngModel)]='searchString'
                        class="form-control" id="exampleInputAmount" 
                        placeholder="Customer Name Here ...">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>